body {
  background: #050418;
  background: radial-gradient(circle, rgba(5, 4, 24, 0.7007177871) 0%, #181a1f 35%, black 100%); }

#gantry {
  background-color: #555555;
  margin-top: 5px;
  width: 100%;
  height: 15px; }

#ts2_signal {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 15px; }

#ts2_brand {
  font-size: 14pt;
  float: left;
  color: #cccccc;
  font-family: monospace;
  margin: 20px 0 0 100px; }

#clock_holder {
  float: right;
  background-color: transparent;
  margin-right: 10px; }
  #clock_holder #clock_poles {
    height: 15px;
    border-left: 10px solid #555555;
    border-right: 10px solid #555555;
    margin-right: 15px;
    margin-left: 50px; }
  #clock_holder #ts2_clock {
    text-align: center;
    font-family: monospace;
    background-color: #333333;
    font-size: 24pt;
    padding: 5px;
    border-radius: 5px;
    width: 200px; }
  #clock_holder .clock-running {
    border: 2px solid green;
    color: #eeeeee; }
  #clock_holder .clock-paused {
    border: 2px solid #666666;
    color: #cccccc; }

.ts2_host {
  font-size: 9pt;
  font-family: monospace;
  padding: 5px; }

.ts2_sim_info {
  margin-left: 10px; }
  .ts2_sim_info p {
    font-size: 10pt;
    padding: 2px;
    margin: 0; }

.card {
  margin-top: 0; }

.xtop {
  margin: 0;
  padding: 0; }
  .xtop .xpoles {
    height: 15px;
    border-left: 10px solid #555555;
    border-right: 10px solid #555555;
    margin-right: 15px;
    margin-left: 50px; }

.xstatus {
  float: right;
  margin: 2px;
  width: 120px;
  font-size: 10pt; }

.connected {
  background-color: #E3FFCE;
  color: green; }

.not-connected {
  background-color: #FFE4E2;
  color: #990000; }

.running {
  background-color: #E3FFCE;
  color: green; }

.not-running {
  background-color: yellow;
  color: #333333; }

.card {
  box-shadow: 3px 3px #888888; }
  .card .card-body {
    padding: 0; }
    .card .card-body h3.card-title {
      padding: 5px 10px;
      font-size: 10pt;
      font-family: monospace;
      border-bottom: 1px solid #999999;
      color: #444444;
      background: linear-gradient(to left, #999999, #777777 20%, transparent 75%); }
    .card .card-body .form-row {
      margin: 10px; }
    .card .card-body .stats {
      font-size: 10pt; }
      .card .card-body .stats .badge {
        font-size: 13pt;
        min-width: 40px; }

.table {
  font-size: 10pt; }
  .table th {
    text-align: right;
    font-weight: normal;
    border-right: 1px solid #dddddd; }
  .table td {
    font-weight: bold; }
  .table th, .table td {
    border: none;
    border-bottom: 1px solid #dddddd;
    padding: 5px; }

.xcontent {
  margin-top: 20px;
  padding-left: 30px; }

.consoleTxt {
  width: 100%;
  font-size: 9pt;
  font-family: monospace;
  background-color: #ffffdd; }

#input {
  margin-top: 10px;
  background-color: #DAFBE2; }

#output, #outputNotifications {
  min-height: 300px;
  overflow: auto; }

#outputNotifications {
  background-color: #F8E3FF; }

#mTabBar {
  margin-top: 10px; }
  #mTabBar a.nav-link {
    color: #999999;
    background-color: #333333; }
  #mTabBar a.active {
    background-color: #666666;
    color: white; }

.ts2_stats_table {
  margin: 10px;
  width: 80%;
  font-size: 8pt; }
  .ts2_stats_table thead {
    background-color: #efefef;
    font-size: 9pt; }
  .ts2_stats_table tbody td {
    font-size: 10pt; }
  .ts2_stats_table td {
    text-align: center;
    padding: 2px;
    border-right: 1px solid #cccccc; }

#data_table_container {
  background-color: white; }

#data_table {
  width: 100%;
  background-color: white;
  overflow: auto; }
  #data_table .align-left {
    text-align: left; }
