body {
  background: #050418;
  background: radial-gradient(circle, rgba(5, 4, 24, 0.7007177871) 0%, #181a1f 35%, black 100%); }

#ts2_signal {
  position: absolute;
  z-index: 99999;
  top: 15px;
  left: 15px; }

#ts2_brand {
  font-size: 14pt;
  float: left;
  color: #cccccc;
  font-family: monospace;
  margin: 20px 0 0 100px; }

.ts2_host {
  font-size: 9pt;
  font-family: monospace;
  padding: 5px; }

.ts2_sim_info {
  margin-left: 10px; }
  .ts2_sim_info p {
    font-size: 10pt;
    padding: 5px;
    margin: 0; }

#clock {
  float: right;
  font-family: monospace;
  background-color: #444444;
  color: #eeeeee;
  font-size: 22pt;
  border-radius: 2px;
  padding: 5px 10px;
  margin-right: 20px; }

#lblConnectedStatus, #lblRunningStatus {
  font-size: 12pt;
  width: 120px; }

.connected {
  background-color: #E3FFCE;
  color: green; }

.not-connected {
  background-color: #FFE4E2;
  color: #990000; }

.running {
  background-color: #E3FFCE;
  color: green; }

.not-running {
  background-color: yellow;
  color: #333333; }

.card {
  box-shadow: 3px 3px #888888; }
  .card .card-body {
    padding: 0; }
    .card .card-body h3.card-title {
      padding: 5px 10px;
      font-size: 10pt;
      font-family: monospace;
      border-bottom: 1px solid #999999;
      color: #444444;
      background: linear-gradient(to left, #999999, #777777 20%, transparent 75%); }
    .card .card-body .form-row {
      margin: 10px; }
    .card .card-body .stats {
      font-size: 10pt; }
      .card .card-body .stats .badge {
        font-size: 13pt;
        min-width: 40px; }

.table {
  font-size: 10pt; }
  .table th {
    text-align: right;
    font-weight: normal;
    border-right: 1px solid #dddddd; }
  .table td {
    font-weight: bold; }
  .table th, .table td {
    border: none;
    border-bottom: 1px solid #dddddd;
    padding: 5px; }

#input, #output, #outputNotifications {
  width: 100%;
  font-size: 9pt;
  font-family: monospace;
  background-color: #ffffdd; }

#input {
  margin-top: 10px; }

#output, #outputNotifications {
  min-height: 300px;
  overflow: auto; }
