
#ts2_logo {
    
    //float: left;
}

#lblConnectedStatus {
    font-size: 16pt;
    
}
.connected {
    background-color: #E3FFCE;
    color: green;
    //border: 1px solid green;
}
.not-connected {
    background-color: #FFE4E2;
    color: #990000;
    //border: 1px solid #990000;
}
.card {
    .card-body {
    
        padding: 0;

        h3.card-title {
            padding: 5px 10px;
            font-size: 14pt;
            border-bottom: 1px solid #dddddd;
            background-color: #eeeeee !important;
        }

        h5 {
            font-size: 12pt;
            //display: block;
        }

        .form-row {
            margin: 10px;
        }
    }

}

.table {

    font-size: 10pt;

    th {
        text-align: right;
        font-weight: normal;
        border-right: 1px solid #dddddd; 
    }
    td {
        font-weight: bold;
    }

    th, td {
        border-top: none;
        border-bottom: 1px solid #dddddd;
    }
    
}

#input, #output {
    width: 100%; 
    font-size: 9pt;
    font-family: monospace;
    background-color: #ffffdd;
}

#input {
    margin-top: 10px; 
}
#output {
    margin-top: 10px; 
    height:300px; 
    overflow: auto;
}


